<div id="project-info">
	<h1 id="title">Drawings</h1>
	<div id="tags">
		<span class="tag">Pencils</span>
		<span class="tag">Adobe Photoshop</span>
	</div>
	<p id="description">I've been drawing for as long as I could hold a pencil. I don't know what this proves of my professional acuity, but I am proud to show it off! Drawing is a good exercise in perception and dedication. 

	</p>
</div>

<div id="project-scatter" class="select-disable">
	<div class="slider"
		description=""
	>
		<img src="../../media/Projects/drawing/ballerina.png" style="height: 400px !important;" alt=""/>
	</div>
	<div class="slider"
		description=""
	>
		<img src="../../media/Projects/drawing/Bildschirm­foto 2024-08-06 um 14.29.41.png" alt=""/>
	</div>
	<div class="slider"
		description=""
	>
		<img src="../../media/Projects/drawing/Bildschirm­foto 2024-08-06 um 14.30.01.png" alt=""/>
	</div>
	<div class="slider"
		description=""
	>
		<img src="../../media/Projects/drawing/IMG_3606.JPG" alt=""/>
	</div>
	<div class="slider"
		description=""
	>
		<img src="../../media/Projects/drawing/IMG_3607.JPG" alt=""/>
	</div>
	<div class="slider"
		description=""
	>
		<img src="../../media/Projects/drawing/IMG_3608.JPG" alt=""/>
	</div>

	<div class="slider"
		description=""
	>
		<img src="../../media/Projects/drawing/IMG_3611.JPG" alt=""/>
	</div>
</div>