<div id="project-info">
	<h1 id="title">Language learning app</h1>
	<div id="tags">
		<span class="tag">Java</span>
		<span class="tag">Apache NetBeans</span>
	</div>
	<p id="description">When I began learning German, I found that I was dissatisfied with the software that is available for digital flashcards and word memorization. I had a large vocabulary database in Notion, so I figured I'd build one myself.</p>
	<!-- I had never used Java before, so I decided to give it a try, which was a bad idea because its library ecosystem was a tad too antiquated for my purposes. -->
</div>

<div id="project-scatter" class="select-disable">
	<div class="slider"
		description="I made the GUI using Java Swing on Apache NetBeans. It's a very simple interface. The program scans my Notion workspace for relevant databases and displays them in this menu."
	>
		<img src="../../media/Projects/languagelearning/Bildschirm­foto 2024-08-05 um 19.21.41.png" alt=""/>
	</div>
	<div class="slider"
		description="Up to this point, I had been using a language based on emojis to convey information about the grammatical properties of certain words (e.g. ✂️ are separable verbs, ⚙️ are stem-vowel changing words). The problem is that Java Swing doesn't support emojis, so I had to port a makeshift solution based on HTML embeds."
	>
		<img src="../../media/Projects/languagelearning/Bildschirm­foto 2024-08-05 um 19.23.47.png" alt=""/>
	</div>
	<div class="slider"
		description="Without reliable library support in Java, I wrote the client to Notion up from HTTP requests."
	>
		<img src="../../media/Projects/languagelearning/carbon1.png" alt=""/>
	</div>
	<div class="slider"
		description="Each session iterates over different challenges depending on my current in-game progress and that which is stored in the database. How the game progresses is determined by how I perform in each challenge and according to a set of well-defined heuristics. I also did a clever trick to get my OS's voice-over process to read the words out loud, which was a delightful solution to the sizable trouble of pronouncation."
	>
		<img src="../../media/Projects/languagelearning/Bildschirm­foto 2024-08-05 um 19.41.44.png" alt=""/>
	</div>
	<div class="slider"
		description="Here's what a database for verbs looks like in Notion."
	>
		<img src="../../media/Projects/languagelearning/Bildschirm­foto 2024-08-05 um 20.02.09.png" alt=""/>
	</div>
	<div class="slider"
		description="If I hoped to optimize the efficiency of my time spent learning words, I needed to understand what worked and what worked for me. I researched what empirical literature could teach me on language acquisition and memory retention, and used this knowledge to design the app's mechanics. At heart lay concepts such as spaced repetition, active recall, pronounciation practice and the testing effect."
	>
		<img src="../../media/Projects/languagelearning/Bildschirm­foto 2024-08-05 um 20.06.10.png" alt=""/>
	</div>
</div>