<div id="project-info">
	<h1 id="title">Treasure Hunt Video Game</h1>
	<div id="tags">
		<span class="tag">Game Design</span>
		<span class="tag">Unity</span>
		<span class="tag">C#</span>
		<span class="tag">Blender</span>
	</div>
	<p id="description">The island is a massive 25 km² (9.7 sq mi). A lush, bright green world set on an endless ocean. The player lands on the Upper Pleateau, in a clearing with a view to the Volcano’s Summit, and they are free to roam. Roam through forests, beaches, caves, shipwrecks and ancient temples. The goal? The fancy of every childhood: a treasure hunt—puzzles for a way out.</p>
</div>

<div id="project-scatter" class="select-disable">
	<div class="slider"
		description="The map would tell the story. The island is the subject of the game, and the purpose is the exploration of its landmarks. This is an early concept for its design, the hope is to fill it with all the mystery and wonder that could drive the player to discover. Ideas are plentiful: what happened before the player arrived? An ancient civilization, previous explorer, pirates, and a Lockheed Electra 10E with a letter addressed to Amelia Earhart?"
	>
		<img src="../../media/Projects/treasure-hunt/annotated-map.png" alt=""/>
	</div>
	<div class="slider"
		description="Night brings changes to the island. A light mist rolls in, which, in the name of practicality, provides some visibility to the player while not spoiling the pale of darkness."
	>
		<img src="../../media/Projects/treasure-hunt/8C9A4172-A2CC-4C3B-A23C-323B57E3F23A.JPG" alt=""/>
	</div>
	<div class="slider"
		description="This is the Southeast Islet, the first part of the island I designed in its entirety. The player must walk through shallow waters to reach it. It is surrounded by rock formations, and the player can walk up its hill into a small forest. There's a wooden cross on the beach that could later be part of a puzzle."
	>
		<img src="../../media/Projects/treasure-hunt/Screenshot 2020-06-07 at 22.45.06.png" alt=""/>
	</div>
	<div class="slider"
		description="I love this shot. The lion statue is a surprise, possibly among the first the player will encounter."
	>
		<img src="../../media/Projects/treasure-hunt/Screenshot 2020-06-27 at 18.12.17.png" alt=""/>
	</div>
	<div class="slider"
		description="The sky makes half of the game's visual domain, so it is important. The skybox is a living thing, with clouds that move and change shape, and a sun that sets and rises. What's more, an accurate star map could provide some of the first clues for a player who is not yet acquainted with the island. This took some figuring out, but doesn't it look great?"
	>
		<img src="../../media/Projects/treasure-hunt/Screenshot 2020-07-01 at 20.59.53.png" alt=""/>
	</div>
	<div class="slider"
		description="The spawn area. The player arrives at the island on a helicopter and lands on the Upper Plateau. As the noise of the rotor blades subsides, the chirping of birds and wind and groaning of wood takes over."
	>
		<img src="../../media/Projects/treasure-hunt/Screenshot 2022-06-30 at 13.58.44.png" alt=""/>
	</div>
	<div class="slider"
		description="A short clip showcasting some of the finished regions of the island. In order of appearence: spawn area right after landing, a cave by the ridge at the southeast of the South Anvil, the beach at the Southeast Islet, the hill at the Southeast Islet, and the lion statue at the Upper Plateau."
	>
		<div class="video-container">
			<video src="../../media/Projects/treasure-hunt/Done1.mp4"></video>
			<!-- <img class="play-button" src="../../media/linkedin-icon.png" alt=""/> -->
		</div>
	</div>
</div>