<div id="project-info">
	<h1 id="title">Treasure Hunt Video Game</h1>
	<div id="tags">
		<span class="tag">Game Design</span>
		<span class="tag">Unity</span>
		<span class="tag">C#</span>
		<span class="tag">Blender</span>
	</div>
	<p id="description">The island is a massive 25 km² (9.7 sq mi). A lush, bright green world set on an endless ocean. The player lands on the Upper Pleateau, in a clearing with a view to the Volcano’s Summit, and they are free to roam. Roam through forests, beaches, caves, shipwrecks and ancient temples. The goal, the fancy of every childhood: a treasure hunt—puzzles for a way out.</p>
</div>

<div id="project-scatter" class="select-disable">
	<div class="slider"
		description="Map."
	>
		<img src="../../media/Projects/treasure-hunt/annotated-map.png" alt=""/>
	</div>
	<div class="slider"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
	>
		<img src="../../media/Projects/treasure-hunt/8C9A4172-A2CC-4C3B-A23C-323B57E3F23A.JPG" alt=""/>
	</div>
	<div class="slider"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
	>
		<img src="../../media/Projects/treasure-hunt/Screenshot 2020-06-07 at 22.45.06.png" alt=""/>
	</div>
	<div class="slider"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
	>
		<img src="../../media/Projects/treasure-hunt/Screenshot 2020-06-27 at 18.12.17.png" alt=""/>
	</div>
	<div class="slider"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
	>
		<img src="../../media/Projects/treasure-hunt/Screenshot 2020-07-01 at 20.59.53.png" alt=""/>
	</div>
	<div class="slider"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
	>
		<img src="../../media/Projects/treasure-hunt/Screenshot 2022-06-30 at 13.58.44.png" alt=""/>
	</div>
</div>